@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #3047a3;
  height: 100vh;
  isolation: isolate;
}

.navbar {
  height: 13vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 65px;
}

.navlist {
  display: flex;
}

.navlist li {
  list-style: none;
  padding: 20px;
}

.navlist a {
  position: relative;
  color: white;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 1px;
}

.click button:nth-child(1),
.click button:nth-child(2) {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  letter-spacing: 2px;
}

.click button:nth-child(1) {
  background-color: #f0b033;
  color: white;
  border: 2px solid #f0b033;
}

.click button:nth-child(2) {
  background-color: transparent;
  color: #f0b033;
  border: 2px solid #f0b033;
  margin-left: 20px;
}

.click button:nth-child(1):hover {
  background-color: transparent;
  color: #f0b033;
}

.click button:nth-child(2):hover {
  background-color: #f0b033;
  color: white;
}

.navlist a::before {
  content: "";
  background-color: rgb(255, 242, 0);
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -10px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.navlist a:hover::before {
  width: 50%;
}

.navlist .active::before {
  content: "";
  background-color: rgb(255, 242, 0);
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: -10px;
  border-radius: 10px;
}

.container .circle {
  position: absolute;
  width: 635px;
  height: 635px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.137);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.418);
  z-index: -1;
}

.container .circle::before {
  content: "";
  background-image: url(farm.jpg);
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .circle::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.404);
  width: 480px;
  height: 480px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
}

.hero {
  padding-left: 35px;
  width: 50%;
  height: 87vh;
  display: flex;
  align-items: center;
}

.content h1 {
  font-size: 60px;
  color: white;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 2px;
  line-height: 80px;
}

.content p {
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  max-width: 60%;
  line-height: 30px;
  padding: 20px 0px 35px 0px;
}

.content button {
  padding: 20px 30px;
  background: linear-gradient(to left, #b96d01, #f0b745);
  border: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.main-character img {
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fighters img {
  height: 130px;
}

.characters {
  position: absolute;
  top: 100px;
  right: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fighters {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.characters h2 {
  color: white;
  letter-spacing: 2px;
  font-family: "Fredoka", sans-serif;
  font-size: 25px;
}

.content button:hover {
  background: linear-gradient(to left, #eeb23b, #dd8100);
  cursor: pointer;
  border-radius: 4px;
  transform: scale(0.99);
}
