*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Alata", serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1514855881354-933cc908e72e?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: -0% 20% ;
}
#nav{
    position: relative;
    display: flex;
    padding: 0 70px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
   

}
#nav #links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);

}
#nav i{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    background-color: rgb(134, 127, 127);
    border-radius: 25px;
}
#links a{
    position: relative;
    margin-left: 27px;
    color: rgb(245, 241, 241);
    font-weight: 3700;
    font-size: 15px;
    text-decoration: none;
    
}
#links #line::before{
    content: "";
    height: 2px;
    width: 30%;
    background-color: whitesmoke;
    left: 50%;
    top: -5px;
    transform: translate(-50%,0);
    position: absolute;
}
#nav h5{
    height: 40px;
    width: 40px;
    border: 4px solid wheat;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
#main #text {
    position:absolute;
    top:50%;
    left: 5%;
    transform: translate(0%,-50%);
    width: 40%; 
    color: aliceblue;  
}
#text h6{
    display: flex;
}
#text h6 span{
    font-size: 24px;
    line-height: 25px;
}
#text h1{
    font-size: 60px;
    line-height: 1;
    margin-top: 40px;
}
#text #second{
    margin-top: 45px;
    display: flex;
    gap: 7px;
}
#linee{
    width: 120px;
    height: 4px;
    background-color: wheat;
}
#second p{
    line-height: 1;
    width: 50%;
    margin-top: -1px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 100;    
}
#main #bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 80px;
    height: 23%;
    width: 70%;
    bottom: 0;
    left: 0;
    background-color: rgb(214, 208, 208);
}
 #bottom #cube{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    right: -50px;
    color: white;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 7px 0px;
}
#bottom .sec p{
    opacity: .5;
    font-size: 12px;
}
#bottom .sec h3{
    font-weight: 800;
    font-size:x-large;
}