@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right top, #e4ffc9, #fdffec);
  height: 100vh;
}
header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 20vh;
}

.logo,
ul,
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 1;
  font-family: "Lemon", cursive;
  font-size: 40px;
  color: white;
  position: relative;
}

.logo::before {
  content: "";
  background-color: #84b74d;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.logo::after {
  content: "eals";
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}

ul {
  flex: 2;
}

.icons {
  flex: 1;
  gap: 30px;
}
.fa-solid {
  font-size: 20px;
  color: rgba(77, 77, 77);
}

li {
  list-style: none;
  margin: 35px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.active {
  color: #84b74d;
}
a:hover {
  color: #84b74d;
}
.login,
.delivery,
.dine {
  padding: 12px 30px;
  border-radius: 23px;
  border: none;
  color: white;
  background-color: #84b74d;
  font-size: 18px;
}
.login,
.delivery:hover {
  background-color: #709446;
}

section {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}
.dish img {
  height: 70vh;
}
.content {
  margin-left: 80x;
  flex: 1;
}

h2 {
  font-size: 30px;
  font-family: "Lemon", cursive;
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 20px;
  font-size: 60px;
  font-family: "Lemon", cursive;
}
span {
  color: #84b74d;
}
p {
  font-size: 18px;
  color: gray;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.dine {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.dine:hover {
  background-color: #ffffff;
}

.buttons {
  display: flex;
  gap: 20px;
}
