@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Plus+Jakarta+Sans:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --green-clr: #18311e;
  --gray-clr: #f2f1ef;
  --orange-clr: #ea7527;
  --black-clr: #000;
}

.main-area {
  display: flex;
  height: 100vh;
  width: 100%;
}

.side-bar {
  height: 100vh;
  width: 6rem;
  background: var(--green-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 2rem;
  align-items: center;
}

.working-area {
  height: 100vh;
  width: calc(100% - 6rem);
  background: var(--gray-clr);
}

.navbar {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
}

.hero-section {
  position: relative;
  height: calc(100vh - 12vh);
  width: 100%;
  display: flex;
  padding-inline: 4rem;
  align-items: center;
  overflow: hidden;
}

.content {
  flex: 1;
}

.swiper {
  flex: 1;
  position: relative;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.fa-brands {
  font-size: 1.15rem;
  color: white;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.action {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.fa-solid {
  color: var(--green-clr);
  font-size: 1.2rem;
}

.navlist {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navlinks {
  color: var(--green-clr);
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-family: "DM Serif Text", serif;
}

h1 {
  font-size: 5rem;
  color: var(--green-clr);
  font-family: "DM Serif Text", serif;
  line-height: 6rem;
  letter-spacing: 0.2rem;
}

p {
  font-size: 1rem;
  max-width: 500px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

button {
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  background: var(--green-clr);
  color: var(--gray-clr);
  border: none;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.detail {
  margin-top: 5rem;
}

.swiper-slide img {
  width: 30vw;
  float: right;
}

.swiper::before {
  content: "";
  position: absolute;
  inset: 6rem;
  background: var(--orange-clr);
  border-radius: 80%;
}

.swiper::after {
  content: "";
  position: absolute;
  inset: 2rem;
  border: 0.1rem solid var(--green-clr);
  border-radius: 80%;
  opacity: 0.4;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
  background: var(--green-clr);
  height: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -5%;
}

.fa-angle-right,
.fa-angle-left {
  color: white;
  font-size: 1.7rem;
}

.play {
  position: absolute;
  top: 7%;
  left: 20%;
  background: var(--green-clr);
  padding: 1.6rem 2rem;
  border-radius: 55%;
  z-index: 5;
  transition: transform 0.5s ease-out;
}

.fa-play {
  color: white;
}

.play:hover {
  transform: scale(1.1) translateY(-15%);
}

.play::before {
  content: "";
  background: var(--green-clr);
  inset: 0;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.8;
  animation: pulse 3s ease-out infinite;
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}

.play:hover::before {
  animation: none;
}
